<!-- gestionale/templates/gestionale/partials/_pagination_custom.html -->
{% load currency_filters %}

{% if page_obj.has_other_pages %}
    <nav aria-label="Paginazione">
        <ul class="pagination justify-content-center mb-0">
            
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <!-- Passiamo al tag il nome del parametro corretto (es. pagina_scadenze) -->
                <a class="page-link" href="?{% url_replace **{page_query_name: page_obj.previous_page_number} %}">Precedente</a>
            </li>

            <li class="page-item active" aria-current="page">
                <span class="page-link">Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}</span>
            </li>

            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link" href="?{% url_replace **{page_query_name: page_obj.next_page_number} %}">Successiva</a>
            </li>
        </ul>
    </nav>
{% endif %}