{% extends "superadmin/base_superadmin.html" %}
{% block title %}Cambia Password{% endblock %}

{% block content %}
<h1 class="h2 mb-4">Cambia Password per l'utente: {{ object.username }}</h1>
<div class="card"><div class="card-body">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Salva Nuova Password</button>
            <a href="{% url 'superadmin:user_update' object.pk %}" class="btn btn-secondary">Annulla</a>
        </div>
    </form>
</div></div>
{% endblock %}